version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=mysql_db
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=salon_db
      - PORT=5000
    depends_on:
      mysql_db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules

  mysql_db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: salon_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  frontend:
    build: ./frontend
    ports:
      - "3000:5173" # Vite uses 5173 by default, map host 3000 to container 5173

    environment:
      - VITE_API_URL=http://localhost:5000/api
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true

volumes:
  mysql_data:
